#map {
	width: 100%;
	height: 500px;
}
.form input[type=button] {
	width: 305px;
	height: 45px;
	margin: 5px;
	color: #679B00;
	border-radius: 10px;
	border: solid 3px #CD0074;
	background:#7109AA;
	font-family: 'Russo One', sans-serif;
}