* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

a :hover {
  outline: none;
  text-decoration:none;
}

a :focus {
  outline:none;
  outline-offset: 0;
}
body {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	background:#7109AA;
	min-height: 600px;
}

.box {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center; 
}
header h1 {
	display: block;
	position: relative;
	text-align: center;
	color: #679B00;
	padding: 20px;
	font-family: 'Russo One', sans-serif;
}
header h1 span {
	color: #9FEE00 ;
}
.task {
width: 300px;
height: 50px;
border: solid 3px #CD0074;
border-radius: 20px;
text-align: center;
margin: 10px;
}
.task a {
	display: block;
	margin: 15px 0 10px 0;
	font-size: 20px;
	color: #FFD300;
	font-family: 'Lobster', cursive;
}
.condition {
	display: block;
	padding: 15px;
	text-indent: 20px;
	font-size: 20px;
color: #9FEE00;
}
.result {
	display: block;
	padding: 15px;
	text-indent: 20px;
	color: #FFD300;
}
.back {
display: block;
width: 300px;
height: 50px;
border: solid 3px #CD0074;
border-radius: 20px;
text-align: center;
margin: 10px;
float: right;
}
.back a {
	display: block;
	position: relative;
	text-align: center;
	color: #679B00;
	padding-top: 13px;
	font-size: 20px;
	font-family: 'Russo One', sans-serif;
}
.box-form {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center; 

}
.form, .form2 {
	position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
      flex-direction:column; 
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.form input[type=number] {
	width: 300px;
	height: 30px;
	margin: 5px;
    border-radius: 10px;
    padding:2px;
    text-align: center;
    color:#CD0074;

}
.form input[type=submit] {
	width: 305px;
	height: 45px;
	margin: 5px;
	color: #679B00;
	border-radius: 10px;
	border: solid 3px #CD0074;
	background:#7109AA;
	font-family: 'Russo One', sans-serif;
}
.form input[type=text] {
	width: 300px;
	height: 30px;
	margin: 5px;
    border-radius: 10px;
    padding:2px;
    text-align: center;
    color:#CD0074;

}
.result span {
	display: inline-block;
	padding: 5px;
	color: orange;
}
.form input[type=password] {
	width: 300px;
	height: 30px;
	margin: 5px;
    border-radius: 10px;
    padding:2px;
    text-align: center;
   color:#CD0074;

}
.sel {
	width: 300px;
	height: 30px;
	margin: 5px;
    border-radius: 10px;
    padding:2px;
    text-align: center;
    color:#CD0074;
}
.sel-to {
	width: 50px;
	height: 30px;
	margin: 5px;
    border-radius: 10px;
    padding-left:10px;
    text-align: center;
    color:#CD0074;
}
.desc {
	color: orange;
	padding-left: 35px;
	font-family: 'Russo One', sans-serif;
}
.result a { 
	padding: 5px;
	color: orange;
}
table {
	color:#CD0074;
	text-align: center;

}
.owner {
	width: 305px;
	height: 40px;
	margin: 5px;
    border-radius: 10px;
    padding:2px;
    text-align: center;
    color:#CD0074;
}
th {
	color: #679B00;
	font-family: 'Russo One', sans-serif;
}
tr a {
	font-family: 'Lobster', cursive;
	color: #679B00;
}



/* TASK 13 */

/* Checkbox */
.check_input {
        position: absolute;
        width: 1px;
        height: 1px;
      	overflow: hidden;
        clip: rect(0 0 0 0);
}

.check_box {
position:absolute;
margin-left: -25px;
width: 20px;
height: 20px;
background-image:url('task_13/checkbox/Check.png');
background-repeat: no-repeat;
}
.check {
 padding: 5px;

}
/* Checked */

.check_input:checked + .check_box {
background-image:url('task_13/checkbox/Check-activ.png');
}
/* Focused */
.check_input:checked:focus + .check_box {
background-image:url('task_13/checkbox/Check-focus-activ.png');	
}

.check_input:focus + .check_box {
background-image:url('task_13/checkbox/Check-focus.png');	
}
/* Disebled */
.check_input:disabled + .check_box {
background-image:url('task_13/checkbox/Check-diseble-activ.png');	
}
.check_input:checked:disabled + .check_box {
background-image:url('task_13/checkbox/Check-diseble.png');	
}

/* radio */
.radio_input {
        position: absolute;
        width: 10px;
        height: 10px;
      	overflow: hidden;
        clip: rect(0 0 0 0);
}

.radio_box {
position:absolute;
margin-left: -25px;
width: 25px;
height: 25px;
background-image:url('task_13/radio/Radio.png');
background-repeat: no-repeat;
}
.rad {
 padding: 5px;

}
/* radio*/
.radio_input:checked + .radio_box {
background-image:url('task_13/radio/Radio-activ.png');
}

/* Focused */
.radio_input:checked:focus + .radio_box {
background-image:url('task_13/radio/Radio-focus-activ.png');	
}

.radio_input:focus + .radio_box {
background-image:url('task_13/radio/Radio-focus.png');	
}
/* Disebled */
.radio_input:disabled + .radio_box {
background-image:url('task_13/radio/Radio-disable.png');	
}
.radio_input:checked:disabled + .radio_box {
background-image:url('task_13/radio/Radio-diseble-activ.png');	
}

/* TASK 14 */

.modal {
	display:none;
	position: fixed;
	z-index: 1;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:row;
	        flex-direction:row; 
	        -webkit-box-pack: center; 
	            -ms-flex-pack: center; 
	                justify-content: center;

	background-color: rgba(0,0,0,0.8);
}
.modal-content {
	position: relative;
	background:#7109AA;
	border-radius:8px;
	margin: 15% auto;
	border: solid 3px #CD0074;
	width: 200px;
	height: 250px;
}
.modal-content p {
	font-size: 150px;
	text-align: center;
 	color: #679B00;
	
}
.modal-content p:last-child {
font-size: 30px;
}

.close {
	position: absolute;	width: 25px;
	top:10px;
	right: 10px;
	border-radius:8px;

	color: red;
	height: 25px;
	font-size: 20px;
	font-weight: bold;
}
.pop-up-btn {
display: block;
width: 300px;
height: 50px;
background:#7109AA;
border: solid 3px #CD0074;
border-radius: 20px;
text-align: center;
margin: 10px;
color: #679B00;
font-family: 'Russo One', sans-serif;
}
/* TASK 17 */
.form input[type=file] {
	width: 300px;
	height: 30px;
	margin: 5px;
    border-radius: 10px;
    padding:2px;
    text-align: center;
    color:#CD0074;

}
/* TASK 18 */
.link-bd {
display: block;
width: 300px;
height: 20px;
background:#7109AA;
border: solid 3px #CD0074;
border-radius: 20px;
text-align: center;
margin: 10px;
color: #679B00;
font-family: 'Russo One', sans-serif;
}