textarea {
	margin: 10px;
	padding: 5px;
	color: #679B00;
	border-radius: 10px;
	border: solid 3px #CD0074;
	background:white;
	font-family: 'Russo One', sans-serif;
}
label {
  text-align: center;
  margin: 10px;
  color: #679B00;
  font-family: 'Russo One', sans-serif;
}
.result28 {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center; 
}
label {
	display: block;
}
.form33 {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

-webkit-box-pack: center;

    -ms-flex-pack: center;
	 -webkit-box-align: center;
	     -ms-flex-align: center;
	         align-items: center;
        justify-content: center; 	
}
.form33 input[type=text] {
	width: 300px;
	height: 30px;
	margin: 5px;
    border-radius: 10px;
    padding:2px;
    text-align: center;
    color:#CD0074;

}
.form33 input[type=button] {
 	width: 30px;
	height: 30px;
	margin: 5px;
    border-radius: 10px;
    padding:2px;
    text-align: center;
    color:#CD0074;
    background:#7109AA;
    border: solid 3px #CD0074;
}
.form33 input[type=submit] {
 	width: 300px;
	height: 30px;
	margin: 5px;
    border-radius: 10px;
    padding:2px;
    text-align: center;
    color:#CD0074;
    background:#7109AA;
    border: solid 3px #CD0074;
}

.left {
display: block;
width: 300px;
height: 50px;
border: solid 3px #CD0074;
border-radius: 20px;
text-align: center;
margin: 10px;
float: left;
}
.left a {
	display: block;
	position: relative;
	text-align: center;
	color: #679B00;
	padding-top: 13px;
	font-size: 20px;
	font-family: 'Russo One', sans-serif;
}