textarea {
	margin: 10px;
	padding: 5px;
	color: #679B00;
	border-radius: 10px;
	border: solid 3px #CD0074;
	background:white;
	font-family: 'Russo One', sans-serif;
}
label {
  text-align: center;
  margin: 10px;
  color: #679B00;
  font-family: 'Russo One', sans-serif;
}
.result28 {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center; 
}
label {
	display: block;
}