
.side {
	width: 200px;
	margin: 10px;
	padding-top: 10px;
}
.menu a {
	display: block;
	padding: 10px;
	color:green;
	background-color: black;
	border-bottom: 1px solid #666;
	-webkit-transition: 0.5s all;
	transition: 0.5s all;
}
.menu a:hover {
	padding: 10px 0 10px 20px;
	background-color: #666;
}
.menu li a,
.menu li .menu__drop li a,
.menu li .menu__drop li .menu__drop2 li a{
	border-radius: 5px 5px 5px 5px;
}
.menu li:last-child a,
.menu li .menu__drop li:last-child a,
.menu li .menu__drop li .menu__drop2 li:last-child a {
	border-bottom: 0;
}


.menu li .menu__drop li a,
.menu li .menu__drop2 li a{
	border-radius: 5px 5px 5px 5px;
	border-bottom: 1px solid #666;
}

.menu__list, .menu__list2 {
position: relative;
}
.menu__drop, .menu__drop2 {
position: absolute;
width: 100%;
left:100%;
top:-9999em;
opacity: 0;
border-left: 5px solid transparent;
-webkit-transition: 0.5s opacity;
transition: 0.5s opacity;
}
.menu__list:hover .menu__drop {
	opacity: 1;
	top: 0;
}
.menu__list .menu__drop .menu__list2:hover .menu__drop2 {
	opacity: 1;
	top: 0;
}

/*Иконки для меню всплывающего*/

.menu__list::after,.menu__list2::after {
	content: " ";
	position: absolute;
	border: 5px solid;
	border-color:  transparent transparent transparent red;
	top: 1em;
	right: 0.7em;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.menu__list:hover::after,.menu__list2:hover::after { 
-webkit-transform: scaleX(-1); 
        transform: scaleX(-1);
}
.navigation {
	position: relative;
	display: block;
	background-color: silver;
	border-radius:15px;
	width: 230px;
	height: 100%;
}
.box-form2 {
	padding:10px;
	
}
.form1 {
	padding:10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column; 
	        -webkit-box-pack: center; 
	            -ms-flex-pack: center; 
	                justify-content: center;
	                color: green;
}
.form1 input[type=submit] {
    width: 190px;
	height: 30px;
    border-radius: 10px;
    padding:2px;
    text-align: center;
    color:green;
    background-color: black; 
    margin:10px 0;
}
.form1 input[type=text] {
	width: 40px;
	height: 20px;
	border-radius: 2px;
	text-align: center;
	color:black;
}