.result {
	width: 100%;
	height: 300px;
	display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction:row;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center; 
}
.del { 
	visibility: hidden; 
	
}
.del:not(:checked) + label + * { 
	visibility: hidden; 
	text-align: center;
} 


.del:not(:checked) + label,
.del:checked + label {
	text-align: center;
    visibility: visible;
 	width: 305px;
	height: 20px;
	margin: 5px;
	color: #679B00;
	border-radius: 10px;
	border: solid 3px #CD0074;
	background:#7109AA;
	font-family: 'Russo One', sans-serif;

}
.del:checked + label {
  background: #e36443;
}
.text {
	width: 305px;
	height: 100px;
}
